# Podemos especificar archivos individuales
#.DS_Store

# O usar comodines
*~
*.orig

# También es posible ignorar todos los subdirectorios y archivos en un directorio determinado
nbproject/
uploads/default/files/
uploads/log/
uploads/temp/
uploads/videos/

system/cms/cache/default/
system/cms/logs/
