div.container {
    padding: 2%;
}
div.wrap {
    padding: 2%;
    padding-bottom: 0;
}
.tab-pane {
    padding: 1%;
    border: solid 1px #ddd;
    border-top: none
}
.progress {
    border: 1px solid #ddd;
    height: 25px;
    margin-bottom: 0px;
    padding: 1px;
}
.bar {
    border-radius: 3px;
}
.percent {
    position: absolute;
    display: inline-block;
    top: -1px;
    left: 48%;
    color: #142994;
}