.mediasplitter { width: 450px; background: #DDD; padding: 0 10px; border-radius: 3px; border: solid 1px #DCDCDC; text-shadow: 0 1px white;  } 
.mediasplitter-wrapp { display: none;}
.mediasplitter-show .mediasplitter-wrapp { display: block;}
.mediasplitter-player { margin: 10px 0;}
.mediasplitter-slider.horizontal { width: 100%;  }
.mediasplitter .opaque { color: #888; }
.mediasplitter-time { float:right;}
.mediasplitter p { vertical-align: baseline; line-height: 20px; }
.mediasplitter-progress {  overflow: hidden; position: relative; top:-6px;}
.mediasplitter-progress-indicator {height: 6px;  background-color: #1AA7AC; width:0;  }