.tinytable thead h3 {
    background: url("images/sort.gif") 7px center no-repeat;
    cursor: pointer;
    padding-left: 18px;
}
.tinytable .desc, .sortable .asc {
    background: url("images/header-selected-bg.gif");
}
.tinytable .desc h3 {
    background: url("images/desc.gif") 7px center no-repeat;
    cursor: pointer;
    padding-left: 18px;
}
.tinytable .asc h3 {
    background: url("images/asc.gif") 7px  center no-repeat;
    cursor: pointer;
    padding-left: 18px;
}
.tinytable thead:hover, .tinytable .desc:hover, .tinytable .asc:hover {
    color: #fff;
}
#table img {
    max-height: 60px;
}